
# idea
.idea/
.idea_modules/

# poetry
poetry.lock

# uv
uv.lock

# pypi
publish.sh

# venv
.venv/

# env
.env

# samples
samples/
samples/**

# examples
examples/temp/

# python
dist/
*.pyc
**/**.pyc
__pycache__/
.pytest_cache/
.coverage
coverage.xml
.mypy_cache/
